<footer class="footer">
    <div class="footerContainer">
        <div class="socialLinks">
            <ul>
                <li class="socialLinkImg">
                  <a href="https://github.com/rohitshukla-bhagat"><i class="fa-brands fa-github fa-lg"></i></a></li>
                <li class="socialLinkImg"><a href="https://www.linkedin.com/in/rohitshuklabhagat/"><i class="fa-brands fa-linkedin fa-lg"></i></a></li>
                <li class="socialLinkImg"><a href="https://www.instagram.com/bhagat_photographer/"><i class="fa-brands fa-instagram fa-lg"></i></a></li>
            </ul>
        </div>
        <div class="webDetails">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
        <div class="copyRight">&copy;Travellers Private Limited</div>
    </div>
</footer>